<div class="container-fluid">
    <b>{{ heading }}</b> {{ description }}
    <div>
        <b>Step</b> : {{ step }}</div>
    <div>
        <b>Date</b> : {{ currentDate | date }}</div>
    <div>
        <b>User</b> : {{ userinfo.name }}</div>

    <div>
        <b>Json Pipe</b>
        <pre>{{ userinfo | json }} </pre>

    </div>

    <h2>Property Binding</h2>
    <div (mouseenter)="boxEvent()" (mouseleave)="msgclass='info'" id="box" [class]="msgclass"> Current Applied class is <b>{{ msgclass }}</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste asperiores nisi sunt. Quibusdam officiis at aperiam tempora? Tempora inventore laboriosam modi cumque atque sit, nemo libero veritatis cum
        unde praesentium.</div>
    <input type="text" [id]="'one'" [disabled]="flag"> {{flag}}
</div>

<h2>Event Binding</h2>

<button (click)="sayHello($event)">Say Hello</button>


<h2>Ng Class Example</h2>

<input type="text" #txt value=""> <button (click)="setType(txt)">Set Type</button>
<!-- Ng class with string -->
<div class="alert fixed-top" [ngClass]="type_cls">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, ipsum. Voluptates molestiae illo explicabo doloribus. Tempora, ut eveniet porro excepturi dignissimos distinctio non dicta delectus, nihil iure aut corporis laborum.
</div>

<!--NG Class with Array -->
<div [ngClass]="classes">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, ipsum. Voluptates molestiae illo explicabo doloribus. Tempora, ut eveniet porro excepturi dignissimos distinctio non dicta delectus, nihil iure aut corporis laborum.
</div>


<!-- Ng Class with condition-->
<div style="margin-bottom:100px;height:200px">
<input type="checkbox" (click)="applyCondition('bold')"> Bold
<input type="checkbox" (click)="applyCondition('italic')"> Italic
<input type="checkbox" (click)="applyCondition('height')"> Height
<input type="checkbox" (click)="applyCondition('color')"> Color


<div class="alert alert-secondary" [ngClass]="{bold:conditions.bold,
  italic:conditions.italic,'height-300':conditions.height,'red-color':conditions.color}">
    Example of conditional classess
</div>
</div>
