<div class="container-fluid">
    <h4>Structural Example</h4>

    <button (click)="toggle()">{{ show ? 'Hide':'Show' }}</button>
    <div class="alert alert-info" *ngIf="show">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis explicabo officia asperiores perspiciatis magni facilis optio minus perferendis modi,
         aspernatur ipsa dolore voluptatibus expedita, odit corporis mollitia nihil eaque reiciendis!
    </div>

    <div *ngIf="editing">
        <input type="text" [(ngModel)]="todoInputItem"> <button (click)="addItem()">Save</button> <button (click)="editing=false">Cancel</button>
        {{todoInputItem}}
    </div>
<div *ngIf="!editing">
    <button (click)="openForm()">+</button>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi id velit, eaque quis labore similique eius aliquam aliquid voluptatem incidunt ipsa ea commodi veniam reiciendis tempore. Et iusto facilis tenetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi id velit, eaque quis labore similique eius aliquam aliquid voluptatem incidunt ipsa ea commodi veniam reiciendis tempore. Et iusto facilis tenetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi id velit, eaque quis labore similique eius aliquam aliquid voluptatem incidunt ipsa ea commodi veniam reiciendis tempore. Et iusto facilis tenetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi id velit, eaque quis labore similique eius aliquam aliquid voluptatem incidunt ipsa ea commodi veniam reiciendis tempore. Et iusto facilis tenetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi id velit, eaque quis labore similique eius aliquam aliquid voluptatem incidunt ipsa ea commodi veniam reiciendis tempore. Et iusto facilis tenetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi id velit, eaque quis labore similique eius aliquam aliquid voluptatem incidunt ipsa ea commodi veniam reiciendis tempore. Et iusto facilis tenetur.</li>
    </ul>
    </div>

    <b>Pending Todos</b>
    <ul>
        <li *ngFor="let t of todos;let todoIndx=index;let first= first;let l=last;let ev=even;let odd=odd;">
            {{ todoIndx+1 }} - {{t}}
        <span>First: {{ first }} Last: {{ l }} Even: {{ ev }} Odd: {{ odd }}</span>
        <button (click)="done(todoIndx,t)">Done</button>
        </li>
    </ul>

    <b>Completed Todos</b>
    <ul>
        <li *ngFor="let t of doneTodos;let todoIndx=index;let first= first;let l=last;let ev=even;let odd=odd;">
            {{ todoIndx+1 }} - {{t}}
        <!-- <span>First: {{ first }} Last: {{ l }} Even: {{ ev }} Odd: {{ odd }}</span> -->
        <button (click)="pending(todoIndx,t)">Pending</button>
        </li>
    </ul>

<h3>Object based todos</h3>

<button class="btn btn-primary" (click)="markDoneAllChecked()">Done</button>
    <table class="table table-bordered">
        <tbody>
            <tr *ngFor="let ot of objTodos;">
                <td>
                    <!-- <input type="checkbox" (change)="ot.checked=!ot.checked"> -->
                    <input type="checkbox" [(ngModel)]="ot.checked">

                    {{ot.checked}}
                </td>
                <td [class.del]="ot.done">{{ ot.todo }}</td>
                <td>
                    <button (click)="ot.done=true">done</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>