<app-page heading="Question">
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card p-15">
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label>Select Group</label>
                        <select class="form-control" formControlName="group">
                            <option value="">Select</option>
                            <option [ngValue]="gr._id" *ngFor="let gr of groups">{{gr.groupName}}</option>
                        </select>

                    </div>
                    <div formGroupName="question">


                        <div class="form-group">
                            <label>Question</label>
                            <input type="text" formControlName="que" class="form-control" placeholder="Question">
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" formControlName="type">
                                <option value="">Select Type</option>
                                <option [ngValue]="1">Single</option>
                                <option [ngValue]="2">Multiple</option>
                                <option [ngValue]="3">Descriptive</option>
                            </select>
                        </div>
                        <table class="table">
                            <tbody formArrayName="options">
                                <tr *ngFor="let opt of options.controls;let index=index" [formGroupName]="index">
                                    <td> <label>Option {{index+1}}</label></td>
                                    <td> <input type="text" formControlName="label" class="form-control" placeholder="Tags"></td>
                                    <td> <input type="checkbox" formControlName="isCorrect" class="form-control"></td>
                                    <td> <button (click)="removeOption(index)">remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    <button type="button" class="btn btn-primary" (click)="addOption()">Add Option</button>
                    
                    <button [disabled]="form.invalid" type="submit" class="btn btn-primary" (click)="save()">Save</button>

                </form>
            </div>
        </div>
        <pre>
            Valid : {{form.valid}}  , Invalid : {{form.invalid}}
            {{form.value | json}}
        </pre>
    </div>
</div>
</app-page>