<div class="container-fluid">
  <app-header bgcolor="green" [appTitle]="title"></app-header>
  <button (click)="title='Angular App title'">Change</button>
  <!-- <app-bindings></app-bindings> -->
  <app-structural></app-structural>

  <app-message message="end of example"></app-message>

  Confirm example

  <app-ui-confirm (onYes)="doOnYes($event,'abc')" 
  (onNo)="doOnNo($event)" 
  (onCancel)="doOnCancel($event)" 
  [confirmMessage]="profileMessage"></app-ui-confirm>

  Pipe example:
  <div>
    Activated : {{ activated | yesno:cap }}   {{ cap }}
</div>
<div>
  One: {{ 1 | yesno }}

</div>
<div>
  Chained pipes
   Zero {{ 0 | yesno | lowercase | uppercase  }}
  </div>

  <div>
    Date : {{ current | date:'MM yyyy' }}
  </div>

  <app-core-login></app-core-login>
</div>
